<mat-card>
  <mat-card-content
    class="!flex px-[17px] py-[34px] gap-3 justify-center items-center bg-white rounded-xl"
  >
    <div
      class="bg-blue-50 w-14 h-14 flex items-center justify-center rounded-full"
    >
      <mat-icon class="text-blue-500">{{ icon }}</mat-icon>
    </div>
    <div class="flex">
      <div class="flex flex-col gap-[17px] justify-center h-max">
        <div class="text-xs text-gray-500 capitalize">{{ label }}</div>
        <!-- Conditionally display the dollar sign based on the hasDollarSign flag -->
        <span class="text-xl font-semibold text-gray-800">
          <ng-container *ngIf="hasDollarSign; else plainValue">$</ng-container
          >{{ value }}
        </span>
      </div>
      <span
        class="h-max mt-auto mb-1 text-xs font-medium text-green-600 bg-green-100 px-2 py-0.5 rounded-full"
      >
        +3.4%
      </span>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #plainValue></ng-template>
