<div class="flex flex-col gap-5 w-full">
  <div class="flex col items-center justify-between">
    <p class="font-semibold text-xl">Analytics</p>
    <!-- Dropdown Button -->
    <ejs-daterangepicker (change)="onDateRangeChange($event)">
      <e-presets>
        <e-preset
          label="This Week"
          [start]="weekStart"
          [end]="weekEnd"
        ></e-preset>
        <e-preset
          label="This Month"
          [start]="monthStart"
          [end]="monthEnd"
        ></e-preset>
        <e-preset
          label="Last Month"
          [start]="lastStart"
          [end]="lastEnd"
        ></e-preset>
        <e-preset
          label="Last Year"
          [start]="yearStart"
          [end]="yearEnd"
        ></e-preset>
      </e-presets>
    </ejs-daterangepicker>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-2.5 w-full">
    <app-analytics-card
      icon="show_chart"
      label="total revenue"
      [value]="(analyticsData$ | async)?.revenue || 0"
      [hasDollarSign]="true"
    ></app-analytics-card>
    <app-analytics-card
      icon="attach_money"
      [label]="selectedRange + ' revenue'"
      [value]="(analyticsData$ | async)?.todayRevenue || 0"
      [hasDollarSign]="true"
    ></app-analytics-card>
    <app-analytics-card
      icon="remove_shopping_cart"
      label="items sold"
      [value]="(analyticsData$ | async)?.itemsSold || 0"
    ></app-analytics-card>
    <app-analytics-card
      icon="supervisor_account"
      label="users active"
      [value]="(analyticsData$ | async)?.visits || 0"
    ></app-analytics-card>
  </div>

  <div class="flex flex-col xl:flex-row gap-4 h-[40vh]">
    <app-analytics-report class="xl:w-[80%]"></app-analytics-report>
    <app-analytics-visits class="xl:w-[20%]"></app-analytics-visits>
  </div>
</div>
