<div
  class="h-screen flex flex-col gap-2.5 transition-all w-min lg:w-[27vh] py-[25px] px-[33px]"
>
  <a class="flex justify-center items-end gap-2.5 mb-10">
    <img class="aspect-square w-[31px]" alt="logo" src="/logo.png" />
    <span class="text-center font-semibold hidden lg:inline-block">
      Manager
      <span class="text-blue-500">Pro</span>
    </span>
  </a>
  <ol class="flex flex-col gap-1">
    @for (route of routes; track $index) {
    <app-route-button [route]="route"></app-route-button>
    }
  </ol>
  <div class="h-1 border-t my-4"></div>
  <ol class="flex flex-col gap-1">
    @for (route of utilRoutes; track $index) {
    <app-route-button [route]="route"></app-route-button>
    }
  </ol>
  <div
    class="flex justify-start items-center text-slate-400 p-3 bg-slate-200 rounded-md gap-4 mt-auto"
  >
    <div class="rounded-md p-1 w-10 h-10 bg-black"></div>
    <div class="hidden flex-col lg:flex">
      <span class="font-bold text-sm text-black">Jabastinv</span>
      <span class="text-xs">Company</span>
    </div>
    <mat-icon class="ml-auto !hidden lg:inline-block"
      >keyboard_arrow_right</mat-icon
    >
  </div>
</div>
